.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 80px;
}

.label-name {
    font-size: 50px;
}

.search-bar-container {
    position: relative;
}

.search-bar {
    font-size: 50px;
    width: 800px;
}

.clear-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 50px;
}

#suggestions-container {
    height: 800px;
    width: 800px;
    overflow-y: scroll;
}

#suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion-button {
    width: 800px;
    height: 80px;
    margin: 5px;
    font-size:43px;
    font-family: Arial, Helvetica, sans-serif;
}

.suggestion-button:hover {
    background-color: rgb(205, 203, 203);
}

.number-shortcut-container {
    display: flex; /* Use flexbox for horizontal layout */
}
  
.number-shortcut-box {
    width: 130px; /* Adjust width as per your requirements */
    height: 130px; /* Adjust height as per your requirements */
    background-color: lightblue; /* Just for illustration purposes */
    margin-right: 10px; /* Add some spacing between the boxes */
    font-size: 90px;

    justify-content: center; /* Center content horizontally */
    align-items: center;
}


  
  